<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details Of {{found.fname}}</h1>
    <ul style="list-style-type: none;">
        <li>Name : {{found.fname}}</li>
        <li>Phone : {{found.fphone}}</li>
        <li>Email : {{found.femail}}</li>
    </ul>
    <center><a href="http://localhost:8000/view"><button>Back</button>
    </a></center>
</body>
</html>