<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 >LIST <a href="http://localhost:8000/">
        <button style="height: 30px;width:60px">Form</button>
      </a></h1>
      <br>
    {{#each parseObject}}
    <form action="/detail" method="POST">
      <p>{{this.fname}}</p><button name="id" value="{{this.id}}">show</button>
    </form>
    {{/each}}
  </body>
</html>